$SecundaryColor2:#5a514b;
$HoverColor:#fdbb03;
$PrimaryColor:#ff5e00;




.title1{
    color: $PrimaryColor;
    text-align: center;
}
.title2{
    color: $PrimaryColor;
    text-align: left;
}

.title2a{
    color: #3eb308;
    display: inline;
}

.parr2a{
    display: inline;

}