.tamano_medidas{
    display: flex;
}



.span_tamano_medidas{
    font-weight: bold;
    line-height: 30px;
    font-size: 1.2em;
}

.modalTrabajosInput{
    font-size: 1.4em;
    text-align: center;
}